<% title "SECC | User" %>
<div id="page_container">
  <div id="page_content">
    <div class="content">
      <h3>Users | Profile | View Profile</h3>

      <div class="help_text">
        Area for Profile Details. <br/>
        User can Update their Name, Mobile Numbers Only.
      </div>

      <table width="100%" border=0 cellspacing=1 cellpadding=3 class="listTable">
        <tr>
          <th width="20%">Email/Login</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th width="20%">Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th width="20%">Father Name</th>
          <td><%= @user.father_name %></td>
        </tr>
        <tr>
          <th width="20%">Date of Birth</th>
          <td><%= @user.dob? ? @user.dob.strftime("%d-%b-%Y") : 'N.A' %></td>
        </tr>
        <tr>
          <th width="20%">Address</th>
          <td><%= @user.address1? ? @user.address1.titleize : '-'  %></td>
        </tr>
        <tr>
          <th width="20%">Place</th>
          <td><%= @user.place? ? @user.place.titleize : 'N.A' %></td>
        </tr>
        <tr>
          <th width="20%">PIN</th>
          <td><%= @user.pin %></td>
        </tr>
        <tr>
          <th width="20%">Mobile</th>
          <td><%= @user.mobile_number %></td>
        </tr>
        <tr>
          <th width="20%">State</th>
          <td>
            <%= @user.user_profile.blank? ? 'N.A' : (@user.user_profile.state_id? ? @user.user_profile.state.name.titleize : 'N.A') %>
          </td>
        </tr>
        <tr>
          <th width="20%">Division</th>
          <td>
            <%= @user.user_profile.blank? ? 'N.A' : (@user.user_profile.division_id? ? @user.user_profile.division.name.titleize : 'N.A') %>
          </td>
        </tr>
        <tr>
          <th width="20%">District</th>
          <td>
            <%= @user.user_profile.blank? ? 'N.A' : (@user.user_profile.district_id? ? @user.user_profile.district.name.titleize : 'N.A') %>
          </td>
        </tr>
        <tr>
          <th width="20%">Block</th>
          <td>
            <%= @user.user_profile.blank? ? 'N.A' : (@user.user_profile.block_id? ? @user.user_profile.block.name.titleize : 'N.A') %>
          </td>
        </tr>
        <tr>
          <th width="20%">Panchayat</th>
          <td>
            <%= @user.user_profile.blank? ? 'N.A' : (@user.user_profile.panchayat_id? ? @user.user_profile.panchayat.name.titleize : 'N.A') %>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <br/>
  <%= link_to content_tag(:span, 'Update Profile'), profile_edit_user_path(current_user), :class => 'btn-blue' %>
  <%= link_to content_tag(:span, 'Change Password'), change_password_user_path(current_user), :class => 'btn-blue' %>
  <%= link_to content_tag(:span, 'Back to Home'), generals_path, :class => 'btn-blue' %>
</div>
