<% title "CSC | Divisions" %>
<h3>CSC | Divisions | Manage Divisons</h3>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Divisions. <br/>
  Along with creating, managing Divisons for Application.
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Division'), new_division_path, :class => 'btn-blue' %>
  <%= link_to content_tag(:span, 'Export'), "#", :class => 'btn-yellow' %>
  <%= link_to content_tag(:span, 'Home'), "#", :class => 'btn-yellow' %>
</div>
<% if @divisions.blank? %>
    <div class="error_msg">
      OOPS!.. No Divisions are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @divisions %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <th>Status?</th>
        <th>Name</th>
        <th>Reference Name</th>
        <th>State</th>
        <th>Districts</th>
        <th>Blocks</th>
        <th>Panchayats</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @divisions.each do |division| %>
          <tr>
            <td><%= i %></td>
            <td>
              <div id="status_<%= division.id %>">
                <%= link_to division.status? ? image_tag('tick.gif') : image_tag('cross.gif'), approve_division_path(division), :remote => true %>
              </div>
            </td>

            <td><%= highlight(division.name.titleize,params[:search]) %></td>
            <td><%= division.short_code %></td>
            <td><%= highlight(division.state.name.titleize,params[:search]) %></td>
            <td><%= link_to division.districts.size, districts_path, :class => 'tipTipRight', :title => associated_names(division.districts) %></td>
            <td><%= link_to division.blocks.size, blocks_path, :class => 'tipTipRight', :title => associated_names(division.blocks) %></td>
            <td><%= link_to division.panchayats.size, panchayats_path, :class => 'tipTipRight', :title => associated_names(division.panchayats) %></td>
            <td>
              <%= link_for_show_pop(division) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @divisions %> <%= will_paginate @divisions, :container => false %>
    </div>

<% end %>




