<ul class="page_menu">
  <li><%= tab_heading 'Dashboard' %>
    <ul>
      <li>
        <%= link_to 'States', states_path,:class=>"tipTip1",:title=>"Manage States" %>
      </li>

      <li>
        <%= link_to 'Divisions', divisions_path,:class=>"tipTip1",:title=>"Manage Divisions" %>
      </li>
      <li>
        <%= link_to 'Districts', districts_path,:class=>"tipTip1",:title=>"Manage Districts" %>
      </li>
      <li>
        <%= link_to 'Blocks', blocks_path,:class=>"tipTip1",:title=>"Manage Blocks" %>
      </li>
      <li>
        <%= link_to 'Panchayats', panchayats_path,:class=>"tipTip1",:title=>"Manage Panchayats" %>
      </li>
    </ul>
  </li>
</ul>



